@font-face {
  font-family: WorkSans;
  src: url(./fonts/WorkSans-VariableFont_wght.ttf);
}



html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.App {
    font-family: WorkSans, "Roboto";
    background-color: #f2f3f8;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
}

/* Arial
Verdana
Helvetica */